@font-face {
    font-family: "Graphik LCG";
    src: url("../fonts/GraphikLCG-Medium.woff2") format("woff2"), url("../fonts/GraphikLCG-Medium.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff");
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Gilroy", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222020;
}

.title-index {
    color: white;
    font-family: ‘Graphik LCG’, sans-serif;
    margin-bottom: 30px;
}

.link {
    display: inline-block;
    padding: 20px;
    color: white;
    border: solid 3px;
}

.link-download-course {
    background-color: #2f1ce4;
    border-color: #2f1ce4;
}

.link-index-more {
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 30px 0;
}

.btn-back {
    background-image: url("../img/icon/return.png");
    padding-left: 25px;
    background-repeat: no-repeat;
    background-size: 20px;
}

.btn-follow {
    float: right;
    background-image: url("../img/icon/follow.png");
    padding-right: 25px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: right;
}

.title-programm {
    margin-top: 100px;
    padding-left: 100px;
    font-size: 48px;
    color: #222020;
}

.sub-title {
    padding-left: 180px;
    font-size: 36px;
    color: #2f1ce4;
    margin: 100px 0 25px 0;
}

.list {
    padding-left: 200px;
    font-size: 18px;
}

.paragraph {
    padding-left: 180px;
    margin-bottom: 20px;
}

.example {
    padding-left: 200px;
    text-align: center;
    display: inline-block;
    margin: 50px 0;
}

.image {
    max-width: 400px;
}

.table {
    border-collapse: collapse;
    margin: 100px 0 0 0;
    border: 1px solid #000;
    margin-bottom: 100px;
}

.table td,
.table th {
    padding: 5px;
    margin: 100px 0 0 0;
    border: 1px solid #000;
}

.program-btn-modules-margin {
    margin-bottom: 75px;
}

.background-modules {
    width: 100%;
    height: 100%;
    background-image: url("../img/icon/wave.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: bottom;
    padding-bottom: 620px;
}

.container-modules {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 60px 0 0 0;
}

.logo-skillbox {
    margin: 0 0 60px 0;
    font-size: 40px;
    font-weight: 500;
    color: #222020;
    font-family: ‘Graphik LCG’, sans-serif;
}

.content-modules {
    padding: 100px 80px 0 80px;
}

.title-modules {
    font-size: 48px;
    color: #222020;
    font-weight: 800;
    margin: 0 0 85px 20px;
}

.cards-of-modules {
    width: 1080px;
    padding: 0;
    margin: 0 0 40px 0;
    list-style: none;
    font-size: 0;
}

.card {
    position: relative;
    display: inline-block;
    width: 480px;
    height: 500px;
    margin: 0 60px 60px 0;
    border-radius: 25px;
    overflow: hidden;
    vertical-align: middle;
    box-shadow: -1px -1px 15px 5px #e8e8e8;
    background-color: white;
}

.div-card-image {
    width: 480px;
    height: 180px;
    overflow: hidden;
}

.card-image {
    width: 200%;
    height: 100%;
    object-fit: cover;
}

.card-info {
    padding-top: 30px;
    padding-left: 50px;
}

.card-title {
    margin: 0 0 25px 0;
    font-size: 36px;
    font-weight: 800;
    color: #2f1ce4;
}

.card-info ul {
    padding: 0;
    list-style: none;
}

.card-info li {
    margin: 0 0 15px 0;
    font-size: 16px;
    font-weight: 500;
    color: #000;
}

.card-number {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 48px;
    font-weight: 500;
    color: #eaeaea;
}

.div-btn-modules-more {
    text-align: center;
}

.btn-modules-more {
    font-size: 18px;
    font-weight: 500;
    color: #2f1ce4;
    background-color: white;
    border: solid 3px;
    width: 275px;
    height: 75px;
    border-radius: 2px;
    cursor: pointer;
}