@media (max-width: 1024px) {
  :root {
    --margin-container: 58px;
  }
  .container-main {
    max-width: 100%;
  }
  .container {
    max-width: calc(100% - 76px);
  }
  /* Header */
  .header__container {
    padding: 26px 23px 26px 12px;
  }
  .header__list {
    display: none;
  }
  .header__button_burger {
    display: block;
  }
  /* section-design-solutions */
  .section-design-solutions__container {
    padding: 160px 42px 114px 45px;
    max-width: calc(100% - 76px - 24px);
    background-image: url("../img/design-solutions/design-solutions-1-1024.jpg");
  }
  .section-design-solutions__title {
    margin-bottom: 18px;
    font-size: 60px;
  }
  .section-design-solutions__sub-title {
    padding-right: 179px;
    margin-bottom: 110px;
    font-size: 20px;
  }
  .section-design-solutions__button {
    padding: 25.5px 38.5px;
  }
  /* section-about-us__container */
  .section-about-us__title {
    margin-bottom: 36px;
  }
  .section-about-us__sub-title {
    padding: 0;
    margin-bottom: 47px;
    line-height: 122%;
  }
  .section-about-us__cards {
    flex-direction: column;
  }
  .section-about-us__example {
    padding-top: 467px;
    margin-right: 0;
    margin-bottom: 50px;
    width: 100%;
  }
  .section-about-us__example-more {
    padding: 43px 50px 40px 44px;
  }
  .section-about-us__example-text {
    width: 60%;
  }
  .section-about-us__example-button {
    padding: 17.5px 35.25px;
  }
  .section-about-us__double-cards {
    width: 100%;
  }
  .section-about-us__card {
    padding-left: 112px;
  }
  /* section-how-we-work */
  .section-how-we-work__container {
    margin-bottom: 53px;
  }
  .section-how-we-work__title {
    margin-bottom: 38px;
  }
  .section-how-we-work__steps {
    padding-right: 50%;
    margin-bottom: 49px;
  }
  .section-how-we-work__info {
    width: 47.294%;
  }
  .section-how-we-work__content {
    margin-bottom: 23px;
  }
  .section-how-we-work__photo {
    width: 47.294%;
  }
  /* section-questions */
  .section-questions__title {
    margin-bottom: 27px;
  }
  .section-questions__button {
    font-size: 20px;
    line-height: 160%;
  }
  .section-questions__button-slash {
    font-size: 20px;
    line-height: 160%;
  }
  /* footer */
  .footer__container {
    padding: 47px 12px 80px 12px;
  }
  .footer__left {
    width: 34.3074%;
  }
  .footer__center {
    width: 61.69%;
  }
  .footer__title {
    padding-top: 19px;
  }
  .footer__input {
    padding: 13px 24px;
  }
  .footer__button {
    padding: 20px 38.15px;
  }
  .footer__right {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__container {
    padding: 10px 51px 10px 48px;
  }
  /* section-design-solutions */
  .section-design-solutions__container {
    padding: 191px 0 114px 49px;
    max-width: 100%;
    background-image: url("../img/design-solutions/design-solutions-1-768.jpg");
  }
  .section-design-solutions__sub-title {
    padding-right: 61px;
  }
  /* section-about-us__container */
  .section-about-us__sub-title {
    margin-bottom: 49px;
  }
  .section-about-us__example {
    padding-top: 477px;
    margin-bottom: 40px;
  }
  .section-about-us__example-more {
    padding: 28px 30px 26px 29px;
  }
  .section-about-us__example-text {
    width: 63%;
  }
  .section-about-us__card {
    padding: 37px 0 42px 31px;
  }
  .section-about-us__card-image_top {
    margin-right: 31px;
    width: 118px;
    height: 91px;
  }
  .section-about-us__card-image_lower {
    margin-right: 31px;
    width: 118px;
    height: 97px;
  }
  /* section-how-we-work */
  .section-how-we-work__container {
    margin-bottom: 58px;
  }
  .section-how-we-work__steps {
    padding: 0;
    margin-bottom: 49px;
  }
  .section-how-we-work__description {
    flex-direction: column-reverse;
  }
  .section-how-we-work__info {
    width: 100%;
  }
  .section-how-we-work__photo {
    width: 100%;
    margin-bottom: 38px;
    height: 284px;
  }
  /* section-questions */
  .section-questions__title {
    font-size: 46px;
  }
  /* footer */
  .footer__container {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 39px 0 59px 44px;
    margin: 0;
  }
  .footer__logo-list {
    margin-bottom: 16px;
  }
  .footer__logo {
    margin: 0;
  }
  .footer__list {
    display: none;
  }
  .footer__center {
    width: 85%;
    margin-bottom: var(--margin-container);
  }
}

@media(max-width: 320px) {
  :root {
    --margin-container: 39px;
  }
  .container {
    max-width: calc(100% - 6px);
  }
  .section-title {
    font-size: 20px;
  }
  /* Header */
  .header__container {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 7px 12px 7px 12px;
  }
  .header__button {
    display: none;
  }
  .header__button_burger {
    display: block;
    margin-left: auto;
  }
  /* section-design-solutions */
  .section-design-solutions__container {
    padding: 32px 21px 40px 22px;
    max-width: calc(100% - 6px - 24px);
    background-image: url("../img/design-solutions/design-solutions-1-320.jpg");
  }
  .section-design-solutions__info {
    align-items: center;
    text-align: center;
  }
  .section-design-solutions__title {
    margin-bottom: 6px;
    font-size: 20px;
  }
  .section-design-solutions__sub-title {
    padding: 0 5px;
    margin-bottom: 34px;
    font-size: 12px;
    font-weight: 500;
  }
  .section-design-solutions__button {
    padding: 13px 28.5px;
    font-size: 12px;
  }
  /* section-about-us__container */
  .section-about-us__title {
    margin-bottom: 5px;
  }
  .section-about-us__sub-title {
    margin-bottom: 5px;
    line-height: 200%;
  }
  .section-about-us__example {
    position: relative;
    padding: 0;
    margin-right: 0;
    margin-bottom: calc(100% - 44px);
    box-sizing: border-box;
    width: 100%;
    height: 200px;
  }
  .section-about-us__example-more {
    position: absolute;
    left: 0;
    bottom: calc(-100% - 16px);
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    background-color: transparent;
  }
  .section-about-us__example-text {
    width: 100%;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-3);
  }
  .section-about-us__example-button {
    color: var(--color-orange);
  }
  .section-about-us__example-button:hover {
    background-color: var(--color-orange);
    color: var(--color-F);
  }
  .section-about-us__example-button:active {
    background-color: var(--color-dark-orange);
    border: solid 3px var(--color-dark-orange);
    color: var(--color-F);
  }
  .section-about-us__card {
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    border: none;
  }
  .section-about-us__card:not(:last-child) {
    margin-bottom: 17px;
  }
  .section-about-us__card-image_top {
    margin-right: 0;
    margin-bottom: 13px;
    width: 64px;
    height: 49px;
  }
  .section-about-us__card-image_lower {
    margin-right: 0;
    margin-bottom: 13px;
    width: 63px;
    height: 55px;
  }
  .section-about-us__card-text_title {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
  }
  .section-about-us__card-text {
    width: 100%;
    font-size: 14px;
  }
  /* section-how-we-work */
  .section-how-we-work__title {
    margin-bottom: 29px;
  }
  .section-how-we-work__steps {
    margin-bottom: 17px;
  }
  .section-how-we-work__photo {
    margin-bottom: 7px;
    height: 160px;
  }
  .section-how-we-work__more {
    padding: 12.5px 44px;
    margin-right: 10px;
    font-size: 12px;
  }
  .section-how-we-work__contract {
    padding: 11.5px 31.45px;
    font-size: 12px;
    font-weight: 400;
  }
  /* section-questions */
  .section-questions__title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .section-questions__button {
    padding: 30px 50px 30px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 171%;
  }
  .section-questions__button-slash {
    padding: 0 1px 0 3px;
    font-size: 14px;
    font-weight: 500;
    line-height: 171%;
  }
  .section-questions__plus {
    top: calc(50% - 15px);
    padding: 6.25px;
    width: 30px;
    height: 30px;
  }
  /* footer */
  .footer__container {
    padding: 24px 12px 25px 12px;
  }
  .footer__left {
    align-items: center;
    width: 100%;
  }
  .footer__logo {
    width: 131px;
    height: 42px;
  }
  .footer__social_item {
    width: 34.4px;
    height: 34.4px;
  }
  .footer__social_item:not(:last-child) {
    margin-right: 14px;
  }
  .footer__center {
    width: 100%;
    margin-bottom: 23px;
    border-bottom: 1px solid #595959;
  }
  .footer__title {
    margin-bottom: 24px;
    font-size: 24px;
  }
  .footer__input {
    padding: 13px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 228%;
  }
  .footer__input_message {
    margin-bottom: 25px;
    height: 150px;
  }
  .footer__submit {
    flex-direction: column;
    align-items: center;
  }
  .footer__button {
    padding: 12.5px 28.25px;
    margin-right: 0;
    margin-bottom: 11px;
    font-size: 12px;
  }
  .footer__label {
    margin-bottom: 25px;
  }
}