.textContent {
    padding: 22px 20px 13px 20px;
    min-width: 100%;
}

.metaData {
    display: flex;
    align-items: center;
}

.userLink {
    display: flex;
    align-items: center;
}

.avatar {
    margin: 0 7px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 50px;
}

.username {
    margin: 0 3px 0 0;
    font-size: 10px;
    line-height: 12px;
    color: var(--orange);
}

.createdAt, .createdAt * {
    display: flex;
    margin-right: 5px;
    font-size: 10px;
    line-height: 12px;
    color: var(--grey99);
}

.publishedLabel {
    display: none;
}

.title {
    font-size: 16px;
    line-height: 19px;
    font-weight: normal;
    margin: 0;
    padding: 7px 0 0;
}

.postLink {
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

@media all and (min-width: 1024px) {
    .textContent {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 0;
        min-width: 0;
        max-width: 540px;
        order: 1;
    }
    .username {
        font-size: 14px;
        line-height: 16px;
    }
    .createdAt, .createdAt * {
        font-size: 14px;
        line-height: 16px;
    }
    .publishedLabel {
        display: block;
        font-size: 14px;
        line-height: 16px;
    }
    .metaData {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
    }
    .title {
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 23px;
    }
    .postLink {
        -webkit-line-clamp: 1;
    }
}

@media all and (min-width: 1540px) {
    .textContent {
        flex-basis: 672px;
    }
    .username {
        position: relative;
        z-index: 1;
    }
    .username:hover::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: var(--orange);
    }
    .postLink::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}