.container {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
}

.input {
  margin-right: 15px;
}

.button {
  padding: 12px 18px;
  margin-right: 15px;
  border: none;
  border-radius: 12px;
  background: #999;
  color: #fff;
  font-weight: 700;
}

.text {
  margin: 0;
  height: 27px;
  font-size: 25px;
  font-weight: 900;
  color: blueviolet;
}
