@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight.woff") format("woff");
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}


/*Global css*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 100%;
    font-size: 16px;
    font-weight: 400;
    color: var(--font-color-dark);
    transition-property: transform, color, background-color;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

*:active,
*:hover,
*:focus,
*:active,
*:hover,
*:focus {
    outline: 0;
    outline-offset: 0;
}

a {
    font-weight: 500;
    text-decoration: none;
    color: var(--font-color-lagoona);
}

ul {
    list-style: none;
}

li {
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--font-color-white);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

textarea,
input {
    padding: 0 20px;
    border-radius: var(--border-radius);
    border: none;
    font-family: "Muller", sans-serif;
}

input::-webkit-search-cancel-button {
    display: none;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    font-family: "Muller", sans-serif;
    color: var(--font-color-light-dark);
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
}

body {
    background-color: var(--font-color-f1);
}

html {
    font-family: "Muller", sans-serif;
}

:root {
    --font-color-white: #fff;
    --font-color-lagoona: #cc9933;
    --font-color-f1: #f1f1f1;
    --font-color-e1: #e1e1e1;
    --font-color-e9: #e9e9e9;
    --font-color-a5: #a5a5a5;
    --font-color-a4: #a4a4a4;
    --font-color-black: #000;
    --font-color-dark: #333;
    --font-color-mefium-dark: #666;
    --font-color-light-dark: #999;
    --border-radius: 15px;
    --margin-blocks: 23px;
}

.container {
    padding: 0 15px;
    margin: 0 auto 70px auto;
    max-width: 1200px;
}

.section-title {
    padding: 0 0 0 45px;
    margin: 0 0 26px 0;
    font-size: 40px;
    line-height: 100%;
    font-weight: 400;
}

.arrow-right {
    padding: 0 15px 0 0;
    background-image: url("../img/icon/arrow-right.png");
    background-repeat: no-repeat;
    background-size: 9px;
    background-position: right;
}

.arrow-right-white {
    background-image: url("../img/icon/arrow-right-white.png");
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.background-image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    background-size: cover;
}

.btn {
    padding: 13px 20px;
    border-radius: 10px;
    border: solid 1px var(--font-color-lagoona);
    font-weight: 400;
    color: var(--font-color-lagoona);
    background-color: transparent;
    cursor: pointer;
}

.btn:hover {
    transform: scale(0.95);
    color: var(--font-color-white);
    background-color: var(--font-color-lagoona);
}

.white-text {
    color: var(--font-color-white);
}

.darken {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
    border-radius: 15px;
}


/*Header*/

.header {
    padding: 30px 0 0 0;
}

.header__info {
    margin: 0 0 30px 0;
    height: 54px;
}

.header__logo {
    margin: 0 40px 0 0;
    height: 100%;
    border-radius: var(--border-radius);
}

.header__phone {
    font-size: 20px;
    line-height: 100%;
    font-weight: 500;
    color: var(--font-color-mefium-dark);
}

.header__phone:hover {
    color: var(--font-color-lagoona);
}

.header__signIn {
    margin: 0 0 0 auto;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
}

.header__nav {
    flex-wrap: nowrap;
    padding: 7px 45px;
    border-radius: var(--border-radius);
    background-color: var(--font-color-white);
}

.header__list {
    justify-content: left;
    padding-right: 16px;
    margin: 10px 55px 10px 0;
    max-width: 810px;
    border-right: 1px solid var(--font-color-e1);
}

.header__item {
    margin: 10px 45px 10px 0;
    border-radius: 0;
}

.header__link {
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    color: var(--font-color-dark);
}

.header__link:hover {
    color: var(--font-color-lagoona);
}

.header__btn-tour {
    margin: 0 40px 0 0;
}


/*Section specials*/

.section-special__example {
    position: relative;
    flex-direction: column;
    width: 50%;
    max-width: 573px;
    height: 540px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.section-special__example_right {
    background-image: url("../img/example/right-example.jpg");
}

.darken_special-right {
    top: -17px;
    left: 17px;
    width: 540px;
    height: 573px;
    transform: rotate(-90deg);
}

.small-example {
    position: relative;
    border-radius: var(--border-radius);
    width: 100%;
    height: 50%;
    max-height: 258px;
}

.section-special__high-example {
    background-image: url("../img/example/high-small-example.jpg");
}

.section-special__down-example {
    background-image: url("../img/example/down-small-example.jpg");
}

.section-special__info {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 322px;
}

.section-special__heading {
    margin: 0 0 15px 0;
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
}

.section-special__price-more {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-special__price {
    margin: 0 0 47px 0;
    font-size: 30px;
    line-height: 30px;
    opacity: .8;
}

.section-special__info_small {
    top: 40px;
}

.section-special__heading_small {
    font-size: 40px;
    line-height: 40px;
}

.section-special__price_small {
    font-size: 20px;
    line-height: 20px;
}


/*Section aboutUs*/

.section-aboutUs__info {
    padding: 0 240px 0 0;
    font-size: 16px;
    line-height: 200%;
    color: var(--font-color-black);
}


/*Section services*/

.section-services__item {
    flex: 1 1 50%;
    max-width: 573px;
}

.section-services__item:nth-child(odd) {
    margin-right: var(--margin-blocks);
}

.section-services__item:nth-last-child(n+3) {
    margin-bottom: var(--margin-blocks);
}

.section-services__image {
    width: 573px;
    height: 165px;
}

.section-services__info {
    padding: 26px 126px 50px 45px;
}

.section-services__heading {
    margin: 0 0 10px 0;
    width: fit-content;
    font-size: 20px;
    font-weight: 500;
}

.section-services__content {
    font-size: 16px;
    line-height: 200%;
}


/*Section advantages*/

.section-advantages__item {
    flex: 1 1 25%;
    padding: 40px 42px 41px 45px;
    margin: 0 24px 0 0;
    max-width: 274px;
    line-height: 32px;
}

.section-advantages__item:nth-child(4n) {
    margin-right: 0;
}

.section-advantages__item:nth-last-child(n+5) {
    margin-bottom: var(--margin-blocks);
}

.section-advantages__image {
    margin-bottom: 8px;
    width: 64px;
    height: 64px;
    background-size: 100%;
}

.advantage-image-1 {
    background-image: url("../img/icon/advantage/bathtub.svg");
}

.advantage-image-2 {
    background-image: url("../img/icon/advantage/hanger.svg");
}

.advantage-image-3 {
    background-image: url("../img/icon/advantage/heating.svg");
}

.advantage-image-4 {
    background-image: url("../img/icon/advantage/hotel-key.svg");
}

.advantage-image-5 {
    background-image: url("../img/icon/advantage/parking.svg");
}

.advantage-image-6 {
    background-image: url("../img/icon/advantage/reception.svg");
}

.advantage-image-7 {
    background-image: url("../img/icon/advantage/security-box.svg");
}

.advantage-image-8 {
    background-image: url("../img/icon/advantage/swimming-pool.svg");
}

.section-advantages__info {
    line-height: 32px;
}


/*Section placements*/

.section-placements__item {
    flex: 1 1 33.33%;
    margin: 0 24px 0 0;
    max-width: 374px;
}

.section-placements__item:nth-child(3n) {
    margin-right: 0;
}

.section-placements__item:nth-last-child(n+4) {
    margin-bottom: var(--margin-blocks);
}

.section-placements__image {
    width: 100%;
    height: 217px;
}

.section-placements__info {
    padding: 36px 46px 45px 45px;
}

.section-placements__terms-rating {
    flex-wrap: nowrap;
    margin: 0 0 16px 0;
}

.section-placements__from {
    color: var(--font-color-a4);
}

.section-placements__price {
    font-size: 24px;
    font-weight: 700;
}

.section-placements__rating {
    margin: 0 0 0 auto;
    width: 96px;
    height: 13px;
}

.section-placements__rating img {
    width: 13px;
    height: 100%;
}

.section-placements__name-location {
    flex-direction: column;
    align-items: stretch;
}

.section-placements__name {
    margin-bottom: 16px;
}

.section-placements__location {
    margin-bottom: 20px;
    color: var(--font-color-light-dark);
}

.section-placements__button:hover {
    color: var(--font-color-white);
    background-color: var(--font-color-lagoona);
}

.section-placements__last-info {
    position: relative;
    width: 100%;
    height: 453px;
}

.section-placements__link {
    position: absolute;
    left: 40px;
    bottom: 60px;
    font-size: 22px;
    font-weight: 500;
}

.section-placements__link::after {
    position: absolute;
    display: block;
    content: '';
    left: -40px;
    bottom: -60px;
    width: 374px;
    height: 2150%;
}


/* Section tour */

.section-tour__container {
    border-radius: var(--border-radius);
    background-color: var(--font-color-e9);
    padding: 38px 45px 71px 40px;
}

.section-tour__title {
    padding: 0 0 0 5px;
    margin: 0 0 19px 0;
}

.section-tour__form {
    flex-wrap: nowrap;
    justify-content: left;
    width: 100%;
    height: 100%;
    padding: 28px;
    border-radius: var(--border-radius);
    background-color: var(--font-color-white);
}

.section-tour__select {
    width: 170px;
    border: none;
}

.section-tour__item {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 0;
    margin: 0 20px 0 0;
    border-right: 1px solid var(--font-color-e1);
}

.section-tour__label {
    margin: 0 0 15px 0;
    font-size: 12px;
    line-height: 100%;
    color: var(--font-color-black);
}

.section-tour__input {
    padding: 0;
    width: 120px;
    height: 25px;
    border-radius: 0;
    border-bottom: 1px solid #cccccc;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
}

.section-tour__input_date {
    width: 135px;
}

.section-tour__button {
    padding: 13px 30px;
}


/* Section contacts & writeUs */

.sections-contacts-writeUs {
    flex-wrap: nowrap;
    margin: 0 auto 25px auto;
}


/* Section contacts */

.section-contacts {
    margin: 0 auto 0 0;
    width: 472px;
}

.section-contacts__info {
    padding: 45px;
    border-radius: var(--border-radius);
    background-color: var(--font-color-white);
}

.section-contacts__list {
    margin: 0 0 45px 0;
}

.section-contacts__item {
    display: flex;
    padding: 0 0 30px 0;
    margin: 0 0 30px 0;
    border-radius: 0;
    border-bottom: solid 1px #ccc;
}

.section-contacts__heading {
    margin-right: auto;
    font-size: 22px;
    font-weight: 700;
    color: var(--font-color-mefium-dark);
}

.section-contacts__content {
    display: flex;
    flex-direction: column;
    width: 240px;
    text-align: left;
    font-style: normal;
    line-height: 24px;
}

.section-contacts__phone {
    margin: 0 0 10px 0;
}

.section-contacts__mail {
    line-height: 24px;
    color: var(--font-color-light-dark);
}

.section-contacts__button {
    padding: 25px 30px;
}


/* Section writeUs */

.section-writeUs {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto 0 0;
    width: 340px;
}

.section-title__writeUs {
    padding: 0;
    text-align: center;
}

.section-writeUs__input {
    padding: 20px 30px;
    margin: 0 0 25px 0;
    width: 100%;
}

.section-writeUs__input_message {
    padding: 20px 15px 30px 20px;
    height: 110px;
    resize: none;
}

.section-writeUs__button {
    padding: 25px 120px;
    width: 100%;
}


/* Footer */

.footer__nav {
    flex-wrap: nowrap;
    justify-content: left;
    align-items: inherit;
    padding: 50px;
    border-radius: var(--border-radius);
    background-color: var(--font-color-dark);
    background-image: url("../img/logo/logo-2.png");
    background-size: 22.22%;
    background-position: bottom;
    background-position-x: 80%;
}

.footer__info {
    margin: 0 85px 0 0;
    width: 300px;
}

.footer__li {
    border-radius: 0;
    color: var(--font-color-white);
    background-color: transparent;
    line-height: 32px;
}

.footer__info-item:not(:last-child) {
    margin: 0 0 25px 0;
}

.footer__contacts {
    width: 360px;
}

.footer__contacts-item:not(:last-child) {
    margin: 0 0 40px 0;
}

.footer__contacts-content {
    color: var(--font-color-white);
    line-height: 32px;
    font-style: normal;
}

.footer__contacts-links,
.footer__contacts-emails {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.footer__contacts-link,
.footer__contacts-email {
    margin: 0 0 10px 0;
}

.footer__social {
    margin: 0 0 0 auto;
    display: flex;
    flex-direction: column;
}

.footer__social-list {
    display: flex;
    flex-direction: column;
}

.footer__social-item {
    margin: 0 0 20px 0;
    width: 25px;
    height: 25px;
}

.footer-social-image-tripadvisor {
    background-image: url("../img/icon/social/tripadvisor.png");
}

.footer-social-image-twitter {
    background-image: url("../img/icon/social/twitter.png");
}

.footer-social-image-facebook {
    background-image: url("../img/icon/social/facebook.png");
}

.footer-social-image-vk {
    background-image: url("../img/icon/social/vk.png");
}

.footer-social-image-google-plus {
    background-image: url("../img/icon/social/google-plus.png");
}