.container {
  width: 100%;
  flex: 1 1 0%;
}

.listContainer {
  position: relative;
}

.list {
  position: absolute;
  top: 10px;
  right: 5px;
  background-color: var(--white);
  border-radius: 3px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

@media all and (min-width: 1024px) {
  .list {
    top: 19px;
  }
}
