@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'), url('../fonts/GraphikLCG-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Regular.woff2') format('woff2'), url('../fonts/Gilroy-Regular.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'), url('../fonts/Gilroy-ExtraBold.woff') format('woff');
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff2') format('woff2'), url('../fonts/Gilroy-Medium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Gilroy', sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222020;
}

.title__index {
    color: white;
    font-family: ‘Graphik LCG’, sans-serif;
    margin-bottom: 30px;
}

.link {
    display: inline-block;
    padding: 20px;
    color: white;
    border: solid 3px;
}

.link__download__course {
    background-color: #2f1ce4;
    border-color: #2f1ce4;
}

.link__index__more {
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
}

.container {
    width: 1170px;
    margin: 0 auto;
    padding: 30px 0;
}

.btn__back__on__index {
    background-image: url("../img/return.png");
    padding-left: 25px;
    background-repeat: no-repeat;
    background-size: 20px;
}

.title__programm {
    margin-top: 100px;
    padding-left: 100px;
    font-size: 48px;
    color: #222020;
}

.sub__title {
    padding-left: 180px;
    font-size: 36px;
    color: #2f1ce4;
    margin: 100px 0 25px 0;
}

.list {
    padding-left: 200px;
    font-size: 18px;
}

.paragraph {
    padding-left: 180px;
    margin-bottom: 20px;
}

.example {
    padding-left: 200px;
    text-align: center;
    display: inline-block;
    margin: 50px 0;
}

.image {
    max-width: 400px;
}

.table {
    border-collapse: collapse;
    margin: 100px 0 0 0;
    border: 1px solid #000;
}

.table td,
.table th {
    padding: 5px;
    margin: 100px 0 0 0;
    border: 1px solid #000;
}