@media (min-width: 250px) and (max-width: 320px) {}

@media (min-width: 321px) and (max-width: 576px) {}

@media (min-width: 577px) and (max-width: 768px) {}

@media (min-width: 769px) and (max-width: 992px) {}

@media (min-width: 993px) and (max-width: 1024px) {}