@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
    font-display: swap;
    font-weight: 800;
    font-style: normal;
}


/*Global css*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 121%;
    font-weight: 400;
    color: var(--color-3);
}

*:active,
*:hover,
*:focus,
*:active,
*:hover,
*:focus {
    outline: 0;
    outline-offset: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

textarea,
input {
    padding: 0 24px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    font-family: "Montserrat", sans-serif;
}

input::-webkit-search-cancel-button {
    display: none;
}

button {
    font-family: "Montserrat", sans-serif;
    cursor: pointer;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    color: var(--color-CA);
}

body {
    background-color: var(--color-EC);
}

html {
    font-family: "Montserrat", sans-serif;
}

:root {
    --color-F: #fff;
    --color-0: #000;
    --color-2: #222;
    --color-3: #333;
    --color-41: #414141;
    --color-6: #666;
    --color-E5: #E5E5E5;
    --color-EC: #ECECEC;
    --color-CA: #CACACA;
    --color-D2: #D2D2D2;
    --color-light-orange: rgba(255, 153, 0, 0.6);
    --color-orange: #FF9900;
    --color-dark-orange: #E1670E;
    --margin-blocks: 24px;
    --margin-container: 100px;
    --anim-time: 0.2s;
}

.container-main {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 1920px;
    background-color: var(--color-F);
}

.container {
    padding: 0 12px;
    margin: 0 auto var(--margin-container) auto;
    max-width: 1794px;
}

.section-title {
    font-size: 48px;
}

.flex-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.background-image {
    width: 100%;
    height: 100%;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
}

.btn {
    padding: 19px 38px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: var(--color-F);
    background-color: var(--color-orange);
    transition-property: background-color, border;
    transition-duration: var(--anim-time);
    transition-timing-function: ease-in-out;
}

.btn:hover {
    background-color: var(--color-light-orange);
}

.btn:active {
    background-color: var(--color-dark-orange);
}


/* Header */

.header {
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.header__container {
    padding: 14px 23px 14px 12px;
    margin-bottom: 0;
}

.header__logo {
    width: 224px;
    height: 72px;
    background-image: url("../img/logo.png");
}

.header__list {
    margin-right: 71px;
}

.header__item:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    transform: translateY(8px);
    background-color: var(--color-orange);
    transition-property: width, background-color;
    transition-duration: var(--anim-time);
    transition-timing-function: ease-in-out;
}

.header__item:hover:after,
.header__item:focus:after {
    width: 100%;
}

.header__item:active:after {
    width: 100%;
    background-color: var(--color-dark-orange);
}

.header__item:not(:last-child) {
    margin-right: 85px;
}

.header__link {
    font-size: 18px;
    font-weight: 600;
    transition-property: color;
    transition-duration: var(--anim-time);
    transition-timing-function: ease-in-out;
}

.header__link:active {
    color: var(--color-dark-orange);
}

.header__button {
    padding: 0;
    width: 25px;
    height: 25px;
    border: none;
    background-color: transparent;
}

.header__button svg rect {
    transition: fill var(--anim-time) ease-in-out;
}

.header__button svg circle {
    transition: stroke var(--anim-time) ease-in-out;
}

.header__button:hover svg rect {
    fill: var(--color-orange);
}

.header__button:hover svg circle {
    stroke: var(--color-orange);
}

.header__button:active svg rect {
    fill: var(--color-dark-orange);
}

.header__button:active svg circle {
    stroke: var(--color-dark-orange);
}


/* section-design-solutions */

.section-design-solutions__container {
    position: relative;
    height: 620px;
}

.section-design-solutions__info {
    position: absolute;
    top: 103px;
    left: 78px;
    width: 842px;
}

.section-design-solutions__title {
    margin-bottom: 32px;
    font-size: 70px;
    font-weight: 800;
    color: var(--color-F);
}

.section-design-solutions__sub-title {
    margin-bottom: 97px;
    font-size: 24px;
    font-weight: 700;
    color: var(--color-F);
}

.section-design-solutions__button {
    padding: 26px 35px;
    font-size: 24px;
    font-weight: 700;
}


/* section-about-us__container */

.section-about-us__title {
    margin-bottom: 10px;
}

.section-about-us__sub-title {
    padding-right: 535px;
    margin-bottom: 44px;
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
}

.section-about-us__cards {
    height: 622px;
}

.section-about-us__example {
    position: relative;
    width: 50%;
    height: 100%;
    max-width: 870px;
}

.section-about-us__example-more {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 44px 68px 42px 54px;
    background: rgba(0, 0, 0, 0.5);
}

.section-about-us__example-text {
    width: 66%;
    font-size: 16px;
    font-weight: 700;
    line-height: 200%;
    color: var(--color-F);
}

.section-about-us__example-button {
    padding: 18px 38px;
    border: solid 3px var(--color-orange);
    background-color: transparent;
}

.section-about-us__example-button:hover {
    background-color: var(--color-orange);
}

.section-about-us__example-button:active {
    background-color: var(--color-dark-orange);
    border: solid 3px var(--color-dark-orange);
}

.section-about-us__double-cards {
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    height: 100%;
    max-width: 870px;
}

.section-about-us__card {
    justify-content: flex-start;
    padding-left: 63px;
    width: 100%;
    height: 50%;
    max-height: 295px;
    border: solid 1px var(--color-CA);
}

.section-about-us__card-image_top {
    margin-right: 59px;
    width: 178px;
    height: 137px;
    background-image: url("../img/about-us/cube.svg");
}

.section-about-us__card-image_lower {
    margin-right: 59px;
    width: 178px;
    height: 153px;
    background-image: url("../img/about-us/gear.svg");
}

.section-about-us__card-text {
    width: 452px;
    font-size: 16px;
    line-height: 200%;
}

.section-about-us__card-text_title {
    width: 100%;
    font-size: 24px;
    font-weight: 700;
}


/* section-how-we-work */

.section-how-we-work__title {
    margin-bottom: 38px;
}

.section-how-we-work__steps {
    justify-content: flex-start;
    margin-bottom: 49px;
}

.section-how-we-work__step {
    border: none;
    font-size: 18px;
    line-height: 122%;
    background-color: transparent;
    transition: color var(--anim-time) ease-in-out;
}

.section-how-we-work__step:hover {
    color: var(--color-orange);
}

.section-how-we-work__step:active {
    color: var(--color-dark-orange);
}

.section-how-we-work__step:not(:last-child) {
    margin-right: 89px;
}

.section-how-we-work__step_active {
    color: var(--color-orange);
}

.section-how-we-work__description {
    width: 100%;
    height: 465px;
}

.section-how-we-work__content {
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    max-width: 758px;
}

.section-how-we-work__text-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 133%;
}

.section-how-we-work__text-info {
    font-size: 16px;
    line-height: 200%;
}

.section-how-we-work__more {
    padding: 20px 38.25px;
    margin-right: 30px;
    line-height: 125%;
}

.section-how-we-work__contract {
    padding: 17px 34.75px;
    border: solid 1px var(--color-3);
    line-height: 125%;
    color: var(--color-3);
    background-color: transparent;
    transition-property: color, background-color;
    transition-duration: var(--anim-time);
    transition-timing-function: ease-in-out;
}

.section-how-we-work__contract:hover {
    color: var(--color-F);
    background-color: var(--color-6);
}

.section-how-we-work__contract:active {
    color: var(--color-F);
    background-color: var(--color-0);
}

.section-how-we-work__photo {
    width: 50%;
    height: 100%;
    max-width: 870px;
}


/* section-questions */

.section-questions__title {
    margin-bottom: 27px;
}

.section-questions__list {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.section-questions__item {
    margin-top: -1px;
    width: 100%;
    height: 111px;
    border-top: solid 1px transparent;
    border-bottom: solid 1px var(--color-CA);
    transition: border var(--anim-time) ease-in-out;
}

.section-questions__item:first-child {
    border-top: solid 1px var(--color-CA);
}

.section-questions__item:hover {
    border-top: solid 1px var(--color-orange);
    border-bottom: solid 1px var(--color-orange);
}

.section-questions__item:hover .section-questions__button {
    color: var(--color-orange);
}

.section-questions__item:hover .section-questions__plus {
    background-color: var(--color-D2);
}

.section-questions__item:active {
    border-top: solid 1px var(--color-dark-orange);
    border-bottom: solid 1px var(--color-dark-orange);
}

.section-questions__item:active .section-questions__button {
    color: var(--color-dark-orange);
}

.section-questions__item:active .section-questions__plus {
    padding: 8px;
    background-color: var(--color-6);
}

.section-questions__item:active .section-questions__plus svg path {
    fill: var(--color-F);
}

.section-questions__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 133%;
    background-color: transparent;
    transition: color var(--anim-time) ease-in-out;
}

.section-questions__plus {
    padding: 10px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-size: 65%;
    background-color: var(--color-EC);
    transition-property: padding, background-color;
    transition-duration: var(--anim-time);
    transition-timing-function: ease-in-out;
}

.section-questions__item .section-questions__plus svg path {
    transition: fill var(--anim-time) ease-in-out;
}


/* footer */

.footer {
    height: 630px;
    background-color: var(--color-2);
}

.footer__container {
    padding: 48px 12px 80px 12px;
    height: 100%;
    margin-bottom: 0;
}

.footer__left {
    flex-direction: column;
    align-items: flex-start;
    width: 33.33%;
    height: 100%;
    max-width: 317px;
}

.footer__logo-list {
    flex-direction: column;
    align-items: flex-start;
}

.footer__logo {
    margin-bottom: 19px;
    width: 224px;
    height: 72px;
    background-image: url("../img/logo-footer.png");
}

.footer__link {
    font-size: 18px;
    font-weight: 600;
    line-height: 200%;
    color: var(--color-CA);
}

.footer__social_item {
    width: 60px;
    height: 60px;
}

.footer__social_item:not(:last-child) {
    margin-right: 25px;
}

.footer__social_facebook {
    background-image: url("../img/social/social-facebook.svg");
}

.footer__social_vk {
    background-image: url("../img/social/social-vk.svg");
}

.footer__social_instagram {
    background-image: url("../img/social/social-instagram.svg");
}

.footer__center {
    width: 33.33%;
    height: 100%;
    max-width: 570px;
}

.footer__title {
    margin-bottom: 31px;
    font-size: 48px;
    font-weight: 400;
    line-height: 123%;
    color: var(--color-CA);
}

.footer_form {
    flex-direction: column;
    align-items: flex-start;
}

.footer__input {
    padding: 14px 24px;
    width: 100%;
    font-size: 17px;
    font-weight: 600;
    line-height: 200%;
    color: var(--color-CA);
    background-color: var(--color-41);
}

.footer__input:not(:last-child) {
    margin-bottom: 25px;
}

.footer__input_message {
    height: 150px;
    resize: none;
}

.footer__input_check {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.footer__label {
    font-size: 16px;
    line-height: 200%;
    color: var(--color-CA);
}

.footer__input_check+label {
    display: flex;
    align-items: center;
}

.footer__input_check+label::before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 1px solid var(--color-CA);
    margin-right: 4px;
}

.footer__input_check:checked+label::before {
    border-color: var(--color-CA);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 85%;
    background-image: url("../img/footer/check.svg");
}

.footer__button {
    padding: 20px 51px;
    margin-right: 22px;
    line-height: 125%;
}

.footer__right {
    width: 33.33%;
    height: 100%;
    max-width: 363px;
}

.footer__right-text {
    font-size: 16px;
    line-height: 200%;
    color: var(--color-CA);
}