@media (min-width: 320px) and (max-width: 767px) {
  :root {
    --margin-container: 39px;
  }

  .container {
    padding: 15px;
  }
  .section-title {
    font-size: 24px;
  }

  /* Header */

  .header__container {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 7px 12px;
  }
  .header__logo {
    width: 97px;
    height: 31px;
  }
  .header__list {
    display: none;
  }
  .header__button {
    display: none;
  }
  .header__button_burger {
    display: block;
    margin-left: auto;
    width: 25px;
    height: 19px;
  }

  /* section-design-solutions */

  .section-design-solutions__container {
    padding: 32px 22px 40px 22px;
    background-image: url("../img/design-solutions/design-solutions-1-320.jpg");
  }
  .section-design-solutions__info {
    align-items: center;
    text-align: center;
  }
  .section-design-solutions__title {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 122%;
  }
  .section-design-solutions__sub-title {
    padding: 0;
    margin-bottom: 34px;
    font-size: 12px;
    font-weight: 500;
    line-height: 120%;
  }
  .section-design-solutions__button {
    padding: 13px 28.5px;
    font-size: 12px;
  }

  /* section-about-us__container */

  .section-about-us__title {
    margin-bottom: 5px;
  }
  .section-about-us__sub-title {
    padding: 0;
    margin-bottom: 5px;
  }
  .section-about-us__cards {
    flex-direction: column;
  }
  .section-about-us__example {
    margin-bottom: 240px;
    width: 100%;
    height: 200px;
  }
  .section-about-us__example-more {
    flex-direction: column;
    align-items: flex-start;
    bottom: calc(-100% - 8px);
    padding: 0;
    width: 100%;
    background-color: transparent;
  }
  .section-about-us__example-text {
    margin-bottom: 8px;
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    color: var(--color-3);
  }
  .section-about-us__example-button {
    padding: 17.5px 35.25px;
    color: var(--color-orange);
  }
  .section-about-us__example-button:hover {
    color: var(--color-F);
  }
  .section-about-us__example-button:active {
    color: var(--color-F);
  }
  .section-about-us__double-cards {
    width: 100%;
    height: 525px;
  }
  .section-about-us__card {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
    width: 100%;
    height: 50%;
    /* max-height: 254px; */
    border: none
  }
  .section-about-us__card-image_top {
    margin-bottom: 13px;
    width: 65px;
    height: 49px;
    background-image: url("../img/about-us/cube.svg");
  }
  .section-about-us__card-image_lower {
    margin-bottom: 13px;
    width: 63px;
    height: 55px;
    background-image: url("../img/about-us/gear.svg");
  }
  .section-about-us__card-text {
    width: 100%;
    font-size: 14px;
  }
  .section-about-us__card-text_title {
    width: 100%;
    font-size: 18px;
    font-weight: 500;
  }

  /* section-how-we-work */

  .section-how-we-work__container {
    margin-bottom: 58px;
  }
  .section-how-we-work__title {
    margin-bottom: 38px;
  }
  .section-how-we-work__steps {
    margin-bottom: 50px;
  }
  .section-how-we-work__step:not(:last-child) {
    margin-right: 154px;
  }
  .section-how-we-work__description {
    flex-direction: column-reverse;
  }
  .section-how-we-work__content {
    width: 100%;
  }
  .section-how-we-work__photo {
    margin-bottom: 38px;
    width: 100%;
    height: 284px;
  }

  /* section-questions */

  .section-questions__title {
    margin-bottom: 27px;
  }
  .section-questions__button {
    font-size: 20px;
    line-height: 160%;
  }
  .section-questions__button-slash {
    font-size: 20px;
    line-height: 160%;
    color: var(--color-CA);
  }

  /* footer */
  .footer {
    height: 817px;
  }
  .footer__container {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 58px 0 59px 50px;
    margin: 0;
    width: 100%;
    max-width: 768px;
  }
  .footer__left {
    width: 35%;
  }
  .footer__list {
    display: none;
  }
  .footer__logo {
    margin-bottom: 16px;
  }
  .footer__center {
    margin-bottom: 58px;
    width: 100%;
    max-width: 550px;
  }
  .footer__title {
    padding: 0;
    margin-bottom: 31px;
  }
  .footer__input {
    padding: 13px 24px;
  }
  .footer__button {
    padding: 20px 38.15px;
  }
  .footer__right {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  :root {
    --margin-container: 58px;
  }
  .container-main {
    max-width: 768px;
  }

  .container {
    max-width: 692px;
  }

  /* Header */

  .header__container {
    padding: 26px 23px 26px 12px;
  }
  .header__list {
    display: none;
  }
  .header__button_burger {
    display: block;
    width: 30px;
    height: 23px;
  }

  /* section-design-solutions */

  .section-design-solutions__container {
    padding: 0;
    height: 768px;
    max-width: 768px;
    background-image: url("../img/design-solutions/design-solutions-1-768.jpg");
  }
  .section-design-solutions__info {
    position: absolute;
    top: 255px;
    left: 49px;
  }
  .section-design-solutions__title {
    margin-bottom: 18px;
    font-size: 60px;
    line-height: 122%;
  }
  .section-design-solutions__sub-title {
    margin-bottom: 110px;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
  }
  .section-design-solutions__button {
    padding: 25.5px 38.5px;
    margin: 0;
  }

  /* section-about-us__container */

  .section-about-us__title {
    margin-bottom: 36px;
  }
  .section-about-us__sub-title {
    padding: 0;
    margin-bottom: 49px;
  }
  .section-about-us__cards {
    flex-direction: column;
  }
  .section-about-us__example {
    margin-bottom: 40px;
    width: 100%;
    height: 650px;
  }
  .section-about-us__example-more {
    padding: 28px 30px 26px 29px;
    width: 100%;
  }
  .section-about-us__example-text {
    width: 401px;
  }
  .section-about-us__example-button {
    padding: 17.5px 35.25px;
  }
  .section-about-us__double-cards {
    width: 100%;
    height: 510px;
  }
  .section-about-us__card {
    justify-content: flex-start;
    padding-left: 31px;
    width: 100%;
    height: 50%;
    max-height: 235px;
    border: solid 1px var(--color-CA);
  }
  .section-about-us__card-image_top {
    margin-right: 29px;
    width: 117px;
    height: 90px;
    background-image: url("../img/about-us/cube.svg");
  }
  .section-about-us__card-image_lower {
    margin-right: 29px;
    width: 118px;
    height: 102px;
    background-image: url("../img/about-us/gear.svg");
  }

  /* section-how-we-work */

  .section-how-we-work__container {
    margin-bottom: 58px;
  }
  .section-how-we-work__title {
    margin-bottom: 38px;
  }
  .section-how-we-work__steps {
    margin-bottom: 50px;
  }
  .section-how-we-work__step:not(:last-child) {
    margin-right: 154px;
  }
  .section-how-we-work__description {
    flex-direction: column-reverse;
  }
  .section-how-we-work__content {
    width: 100%;
  }
  .section-how-we-work__photo {
    margin-bottom: 38px;
    width: 100%;
    height: 284px;
  }

  /* section-questions */

  .section-questions__title {
    margin-bottom: 27px;
  }
  .section-questions__button {
    font-size: 20px;
    line-height: 160%;
  }
  .section-questions__button-slash {
    font-size: 20px;
    line-height: 160%;
    color: var(--color-CA);
  }

  /* footer */
  .footer {
    height: 817px;
  }
  .footer__container {
    flex-direction: column-reverse;
    align-items: flex-start;
    padding: 58px 0 59px 50px;
    margin: 0;
    width: 100%;
    max-width: 768px;
  }
  .footer__left {
    width: 35%;
  }
  .footer__list {
    display: none;
  }
  .footer__logo {
    margin-bottom: 16px;
  }
  .footer__center {
    margin-bottom: 58px;
    width: 100%;
    max-width: 550px;
  }
  .footer__title {
    padding: 0;
    margin-bottom: 31px;
  }
  .footer__input {
    padding: 13px 24px;
  }
  .footer__button {
    padding: 20px 38.15px;
  }
  .footer__right {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1200px) {
  :root {
    --margin-container: 58px;
  }
  .container-main {
    max-width: 1024px;
  }

  .container {
    max-width: 948px;
  }

  /* Header */

  .header__container {
    padding: 26px 23px 26px 12px;
  }
  .header__list {
    display: none;
  }
  .header__button_burger {
    display: block;
    width: 30px;
    height: 23px;
  }

  /* section-design-solutions */

  .section-design-solutions__container {
    height: 768px;
    background-image: url("../img/design-solutions/design-solutions-1-1024.jpg");
  }
  .section-design-solutions__info {
    position: absolute;
    top: 160px;
    left: 45px;
  }
  .section-design-solutions__title {
    margin-bottom: 18px;
    font-size: 60px;
    line-height: 122%;
  }
  .section-design-solutions__sub-title {
    margin-bottom: 110px;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
  }
  .section-design-solutions__button {
    padding: 25.5px 38.5px;
    margin: 0;
  }

  /* section-about-us__container */

  .section-about-us__title {
    margin-bottom: 36px;
  }
  .section-about-us__sub-title {
    padding: 0;
    margin-bottom: 47px;
  }
  .section-about-us__cards {
    flex-direction: column;
  }
  .section-about-us__example {
    margin-bottom: 50px;
    width: 100%;
    height: 640px;
    max-width: 924px;
  }
  .section-about-us__example-more {
    padding: 43px 50px 40px 44px;
    width: 100%;
  }
  .section-about-us__example-text {
    width: 497px;
  }
  .section-about-us__example-button {
    padding: 17.5px 35.25px;
  }
  .section-about-us__double-cards {
    width: 100%;
    height: 630px;
    max-width: 924px;
  }
  .section-about-us__card {
    justify-content: flex-start;
    padding-left: 112px;
    width: 100%;
    height: 50%;
    max-height: 295px;
    border: solid 1px var(--color-CA);
  }

  /* section-how-we-work */

  .section-how-we-work__container {
    margin-bottom: 53px;
  }
  .section-how-we-work__title {
    margin-bottom: 38px;
  }
  .section-how-we-work__steps {
    margin-bottom: 49px;
  }
  .section-how-we-work__step:not(:last-child) {
    margin-right: 85px;
  }
  .section-how-we-work__description {
    height: 689px;
  }
  .section-how-we-work__content {
    max-width: 437px;
  }
  .section-how-we-work__photo {
    width: 50%;
    height: 100%;
    max-width: 437px;
  }

  /* section-questions */

  .section-questions__title {
    margin-bottom: 27px;
  }
  .section-questions__button {
    font-size: 20px;
    line-height: 160%;
  }
  .section-questions__button-slash {
    font-size: 20px;
    line-height: 160%;
    color: var(--color-CA);
  }

  /* footer */
  .footer__container {
    padding: 47px 12px 80px 12px;
  }
  .footer__left {
    width: 35%;
  }
  .footer__center {
    width: 65%;
    max-width: 543px;
  }
  .footer__title {
    padding: 0;
    margin-bottom: 31px;
  }
  .footer__input {
    padding: 13px 24px;
  }
  .footer__button {
    padding: 20px 38.15px;
  }
  .footer__right {
    display: none;
  }
}
