@media (max-width: 576px) {}

@media (max-width: 768px) {
    .container {
        margin-bottom: 48px;
        max-width: 1194px;
    }
    .section-title {
        padding: 0;
        margin-bottom: 12px;
        font-size: 35px;
        font-weight: 500;
    }
    /*Header*/
    .header {
        padding-top: 24px;
    }
    .header__info {
        flex-direction: column;
        margin-bottom: 24px;
    }
    .header__logo {
        margin: 0;
        /* margin: 0 0 24px 0; */
        padding-top: 22%;
        width: 100%;
        height: 0;
        border-radius: var(--border-radius);
        background-image: url("../img/logo/logo.svg");
    }
    .header__phone {
        display: none;
        /* margin-bottom: 12px;
        font-size: 35px;
        font-weight: 500;
        color: var(--font-color-mefium-dark); */
    }
    .header__signIn {
        display: none;
        /* margin: 0;
        font-size: 25px;
        font-weight: 400; */
    }
    .header__nav {
        display: none;
        /* flex-wrap: nowrap;
        justify-content: flex-start;
        padding: 7px 45px;
        margin: 0;
        border-radius: var(--border-radius);
        background-color: var(--font-color-white); */
    }
    /*Section specials*/
    .section-special__info {
        position: absolute;
        bottom: 40px;
        left: 24px;
        max-width: 300px;
    }
    .section-special__info_small {
        top: 40px;
    }
    /*Section aboutUs*/
    .section-aboutUs__info {
        padding: 0;
        line-height: 150%;
        color: var(--font-color-black);
    }
    /*Section services*/
    .section-services__image {
        width: 100%;
        height: 165px;
    }
    .section-services__info {
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 24px 24px 24px;
    }
    .section-services__heading {
        font-size: 20px;
        font-weight: 500;
        line-height: 150%;
    }
    /*Section advantages*/
    .section-advantages__item {
        padding: 24px;
    }
    .section-advantages__image {
        margin-bottom: 24px;
        width: 64px;
        height: 64px;
        background-size: 100%;
    }
    .section-advantages__info {
        line-height: 150%;
    }
    /*Section placements*/
    .section-placements__info {
        padding: 36px;
    }
    .section-placements__terms-rating {
        flex-wrap: nowrap;
        justify-content: flex-start;
        margin: 0 0 16px 0;
    }
    .section-placements__rating {
        margin: 0 0 0 45px;
        width: 94px;
        height: 13.41px;
    }
    .section-placements__link {
        margin: 0 0 15% 10%;
        justify-content: flex-start;
        font-size: 22px;
        font-weight: 500;
        line-height: 0;
        color: var(--font-color-white);
    }
    /* Section contacts */
    .section-contacts__container {
        padding: 36px 24px;
        margin: 0;
        border-radius: var(--border-radius);
        background-color: var(--font-color-white);
    }
    .section-contacts__col_item {
        padding: 0 12px;
    }
    .section-contacts__heading {
        margin-bottom: 6px;
        font-size: 20px;
        font-weight: 700;
        color: var(--font-color-black);
    }
    .section-contacts__content {
        width: 100%;
        text-align: left;
        font-style: normal;
        line-height: 150%;
        color: var(--font-color-black);
    }
    .section-contacts__button {
        padding: 30px;
        margin-top: 20px;
        width: 100%;
    }
    /* Footer */
    .footer__nav {
        padding: 24px 12px;
        margin: 0;
        border-radius: var(--border-radius);
        background-color: var(--font-color-dark);
        background-image: url("../img/logo/logo-2.svg");
        background-size: 254px;
        background-position: bottom;
        background-position-x: 80%;
    }
    .footer__info-item {
        line-height: 190%;
        margin-bottom: 35px;
    }
    .footer__contacts-item {
        margin: 0 0 35px 0;
    }
    .footer__social-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 50%;
    }
    .footer__social-item {
        margin: 0;
        width: 25px;
        height: 25px;
        opacity: .5;
    }
    .footer__social-item:not(:last-child) {
        margin-bottom: 0;
    }
}

@media (max-width: 992px) {}

@media (max-width: 1200px) {}

@media (max-width: 1400px) {}