.menu {
    position: absolute;
    top: 17px;
    right: 15px;
}

.menuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 31px;
    height: 31px;
    background: transparent;
    border-radius: 31px;
    border: 0;
    transform: rotate(90deg);
}

.menuButton:active, .menuButton:hover {
    background-color: rgba(51, 51, 51, 0.1);
}

.menuItem:nth-child(1),
.menuItem:nth-child(2),
.menuItem:nth-child(4) {
    display: none;
}

.menuItem {
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 12px 20px;
    font-size: 12px;
    color: var(--grey99);
}

.menuItem:last-child {
    justify-content: center;
    background-color: var(--greyD9);
    color: var(--grey66);
}

.menuItem:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: var(--greyEC);
}

.menuItemImage {
    margin-right: 6px;
    width: 12px;
    height: 12px;
}

@media all and (min-width: 1024px) {
    .menu {
        position: static;
        z-index: 2;
        align-self: center;
        order: 2;
        margin-left: auto;
    }

    .menuButton {
        transform: none;
    }

    .menuItem:nth-child(1),
    .menuItem:nth-child(2),
    .menuItem:nth-child(4) {
        display: flex;
    }

    .menuItem {
        padding: 10px 20px;
        font-size: 14px;
    }

    .menuItemImage {
        width: 14px;
        height: 14px;
    }
}

@media all and (min-width: 1540px) {
    .menuItem:last-child {
        display: none;
    }
}
