.container {
    width: 100%;
    flex: 1 1 0%;
}

.listContainer {
    position: relative;
}

.list {
    position: absolute;
    top: 0;
    right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    width: 140px;
    background-color: var(--white);
    border-radius: 3px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

@media all and (min-width: 1024px) {
    .list {
        margin-top: 19px;
        width: 157px;
        left: calc(50% - (157px / 2));
    }
}