.menu {
    position: absolute;
    top: 17px;
    right: 15px;
}

.menuItem:nth-child(1),
.menuItem:nth-child(2),
.menuItem:nth-child(4){
    display: none;
}

.menuItem {
    position: relative;
    display: flex;
    align-items: center;
    padding: 12px 20px;
    font-size: 12px;
    color: #999;
}

.menuItem:last-child {
    background-color: var(--greyD9);
    justify-content: center;
    color: var(--grey66);
}

.menuItem:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-color: #ECECEC;
}

.menuItemImage {
    margin-right: 6px;
    width: 12px;
    height: 12px;
}

.menuItemImage:nth-last-child(2) {
    width: 14px;
}

@media all and (min-width: 1024px) {
    .menuItem:nth-child(1),
    .menuItem:nth-child(2),
    .menuItem:nth-child(4){
        display: flex;
    }
    .menu {
        position: static;
        z-index: 2;
        margin-left: auto;
        align-self: center;
        order: 2;
    }
    .menuItem {
        padding: 10px 20px;
        font-size: 14px;
    }
    .menuItemImage {
        width: 14px;
        height: 14px;
    }
    .menuItemImage:last-child {
        width: 16px;
    }
}

@media all and (min-width: 1540px) {
    .menuItem:last-child {
        display: none;
    }
}
