.preview {
    max-height: 178px;
    overflow: hidden;
}

.previewImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media all and (min-width: 1024px) {
    .preview {
        margin-right: 20px;
        max-width: 190px;
        max-height: 107px;
        flex-shrink: 0;
        order: 0;
    }
    .previewImg {
        border-radius: 3px;
    }
}