@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerLight.woff2") format("woff2"), url("../fonts/MullerLight.woff") format("woff");
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerRegular.woff2") format("woff2"), url("../fonts/MullerRegular.woff") format("woff");
    font-display: swap;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerMedium.woff2") format("woff2"), url("../fonts/MullerMedium.woff") format("woff");
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Muller";
    src: url("../fonts/MullerBold.woff2") format("woff2"), url("../fonts/MullerBold.woff") format("woff");
    font-display: swap;
    font-weight: 700;
    font-style: normal;
}


/*Global css*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 100%;
    font-weight: 400;
    color: var(--font-color-dark);
    transition-property: transform, color, background-color;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

*:active,
*:hover,
*:focus,
*:active,
*:hover,
*:focus {
    outline: 0;
    outline-offset: 5px;
}

a {
    text-decoration: none;
    color: var(--font-color-lagoona);
    cursor: pointer;
}

ul {
    list-style: none;
}

li {
    border-radius: var(--border-radius);
    overflow: hidden;
    background-color: var(--font-color-white);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

textarea,
input {
    padding: 0 20px;
    border-radius: var(--border-radius);
    border: none;
    font-family: "Muller", sans-serif;
}

input::-webkit-search-cancel-button {
    display: none;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    font-family: "Muller", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 100%;
    color: var(--font-color-light-dark);
}

body {
    background-color: var(--font-color-f1);
}

html {
    font-family: "Muller", sans-serif;
}

:root {
    --font-color-white: #fff;
    --font-color-lagoona: #cc9933;
    --font-color-more-link: #FFCC66;
    --font-color-f1: #f1f1f1;
    --font-color-e1: #e1e1e1;
    --font-color-e9: #e9e9e9;
    --font-color-a5: #a5a5a5;
    --font-color-a4: #a4a4a4;
    --font-color-black: #000;
    --font-color-dark: #333;
    --font-color-mefium-dark: #666;
    --font-color-light-dark: #999;
    --border-radius: 15px;
    --margin-blocks: 23px;
    --margin-container: 70px;
    --size-block-1-2: 573px;
    --size-block-1-3: 374px;
    --size-block-1-4: 275px;
}

.container {
    padding: 0 15px;
    margin: 0 auto 70px auto;
    max-width: 1200px;
}

.container-card {
    margin-bottom: calc(var(--margin-container) - var(--margin-blocks));
}

.section-title {
    padding: 0 0 0 40px;
    margin: 0 0 20px 0;
    font-size: 40px;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.background-image {
    width: 100%;
    height: 100%;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-size: cover;
}

.btn {
    padding: 13px 20px;
    border-radius: 10px;
    border: solid 1px var(--font-color-lagoona);
    color: var(--font-color-lagoona);
    background-color: transparent;
    cursor: pointer;
}

.btn:hover {
    color: var(--font-color-white);
    background-color: var(--font-color-lagoona);
    transform: scale(0.95);
}

.white-text {
    color: var(--font-color-white);
}

.arrow {
    margin: 0 0 0 5px;
}


/*Header*/

.header {
    padding: 30px 0 0 0;
}

.header__info {
    margin: 0 0 30px 0;
    height: 54px;
}

.header__logo {
    margin: 0 40px 0 0;
    width: 261px;
    height: 100%;
    border-radius: var(--border-radius);
    background-image: url("../img/logo/logo.svg");
}

.header__phone {
    font-size: 20px;
    font-weight: 500;
    color: var(--font-color-mefium-dark);
}

.header__phone:hover {
    color: var(--font-color-lagoona);
}

.header__signIn {
    margin: 0 0 0 auto;
}

.header__nav {
    flex-wrap: nowrap;
    padding: 7px 45px;
    border-radius: var(--border-radius);
    background-color: var(--font-color-white);
}

.header__list {
    justify-content: flex-start;
    padding-right: 11px;
    margin: 10px 57px 10px 0;
    max-width: 810px;
    border-right: 1px solid var(--font-color-e1);
}

.header__item {
    margin: 10px 45px 10px 0;
    border-radius: 0;
}

.header__link {
    color: var(--font-color-dark);
}

.header__link:hover {
    color: var(--font-color-lagoona);
}

.header__btn {
    margin: 7px 0;
}

.header__btn-tour {
    margin-right: 40px;
}


/*Section specials*/

.section-special__example {
    position: relative;
    flex-direction: column;
    width: 50%;
    max-width: var(--size-block-1-2);
    height: 540px;
    border-radius: var(--border-radius);
    overflow: hidden;
}

.section-special__example_right {
    background-image: url("../img/example/right-example.jpg");
}

.small-example {
    position: relative;
    margin: 0 var(--margin-blocks) 0 0;
    width: 100%;
    height: 50%;
    max-height: 258px;
    border-radius: var(--border-radius);
}

.small-example::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
}

.section-special__example_right::before {
    position: absolute;
    top: -17px;
    left: 17px;
    content: "";
    width: 540px;
    height: var(--size-block-1-2);
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
    transform: rotate(-90deg);
}

.section-special__high-example {
    margin-bottom: var(--margin-blocks);
    background-image: url("../img/example/high-small-example.jpg");
}

.section-special__down-example {
    background-image: url("../img/example/down-small-example.jpg");
}

.section-special__info {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 299px;
}

.section-special__heading {
    margin: 0 0 15px 0;
    font-size: 60px;
    font-weight: 700;
    color: var(--font-color-white);
}

.section-special__price-more {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section-special__price {
    margin: 0 0 47px 0;
    font-size: 30px;
    color: var(--font-color-white);
    opacity: .8;
}

.section-special__info_small {
    top: 40px;
}

.section-special__heading_small {
    font-size: 40px;
}

.section-special__price_small {
    font-size: 20px;
}

.link-more {
    color: var(--font-color-more-link);
}

.special-arrow path {
    stroke: var(--font-color-more-link);
}


/*Section aboutUs*/

.section-aboutUs__title {
    margin: 0 0 11px 0;
}

.section-aboutUs__info {
    padding: 0 240px 0 0;
    line-height: 200%;
    color: var(--font-color-black);
}


/*Section services*/

.section-services__item {
    flex: 1 1 50%;
    max-width: var(--size-block-1-2);
}

.section-services__item:nth-child(n) {
    margin-right: var(--margin-blocks);
    margin-bottom: var(--margin-blocks);
}

.section-services__item:nth-child(2n) {
    margin-right: 0;
}

.section-services__image {
    width: var(--size-block-1-2);
    height: 165px;
}

.section-services__info {
    flex-direction: column;
    align-items: flex-start;
    padding: 26px 126px 50px 45px;
}

.section-services__heading {
    font-size: 20px;
    font-weight: 500;
    line-height: 200%;
}

.service-arrow path {
    stroke: var(--font-color-lagoona);
}

.section-services__content {
    line-height: 200%;
}


/*Section advantages*/

.section-advantages__title {
    margin: 0 0 30px 0;
}

.section-advantages__list {
    justify-content: flex-start;
}

.section-advantages__item {
    flex: 1 1 25%;
    padding: 40px 42px 41px 45px;
    margin: 0 var(--margin-blocks) 0 0;
    max-width: var(--size-block-1-4);
}

.section-advantages__item:nth-child(n) {
    margin-right: var(--margin-blocks);
    margin-bottom: var(--margin-blocks);
}

.section-advantages__item:nth-child(4n) {
    margin-right: 0;
}

.section-advantages__image {
    margin-bottom: 8px;
    width: 64px;
    height: 64px;
    background-size: 100%;
}

.advantage-image-1 {
    background-image: url("../img/icon/advantage/bathtub.svg");
}

.advantage-image-2 {
    background-image: url("../img/icon/advantage/hanger.svg");
}

.advantage-image-3 {
    background-image: url("../img/icon/advantage/heating.svg");
}

.advantage-image-4 {
    background-image: url("../img/icon/advantage/hotel-key.svg");
}

.advantage-image-5 {
    background-image: url("../img/icon/advantage/parking.svg");
}

.advantage-image-6 {
    background-image: url("../img/icon/advantage/reception.svg");
}

.advantage-image-7 {
    background-image: url("../img/icon/advantage/security-box.svg");
}

.advantage-image-8 {
    background-image: url("../img/icon/advantage/swimming-pool.svg");
}

.section-advantages__info {
    line-height: 200%;
}


/*Section placements*/

.section-placements__title {
    margin: 0 0 30px 0;
}

.section-placements__list {
    justify-content: flex-start;
}

.section-placements__item {
    flex: 1 1 33.33%;
    margin: 0 var(--margin-blocks) 0 0;
    max-width: var(--size-block-1-3);
}

.section-placements__item:nth-child(n) {
    margin-right: var(--margin-blocks);
    margin-bottom: var(--margin-blocks);
}

.section-placements__item:nth-child(3n) {
    margin-right: 0;
}

.section-placements__image {
    width: 100%;
    height: 217px;
}

.section-placements__info {
    padding: 36px 46px 45px 45px;
}

.section-placements__terms-rating {
    flex-wrap: nowrap;
    margin: 0 0 16px 0;
}

.section-placements__from {
    color: var(--font-color-a4);
}

.section-placements__price {
    font-size: 24px;
    font-weight: 700;
}

.section-placements__rating {
    margin: 0 0 0 auto;
    width: 94px;
    height: 13.41px;
}

.section-placements__rating img {
    width: 14px;
    height: 100%;
}

.section-placements__name-location {
    flex-direction: column;
    align-items: stretch;
}

.section-placements__name {
    margin-bottom: 16px;
}

.section-placements__location {
    margin-bottom: 20px;
    color: var(--font-color-light-dark);
}

.section-placements__button:hover {
    color: var(--font-color-white);
    background-color: var(--font-color-lagoona);
}

.section-placements__last-info {
    position: relative;
    align-items: flex-end;
    width: 100%;
    height: 453px;
    background-image: url("../img/placements/placements-9.jpg");
}

.section-placements__link {
    margin: 0 0 27px 54px;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: 500;
    line-height: 200%;
    color: var(--font-color-white);
}

.placements-arrow path {
    stroke: var(--font-color-white);
}

.section-placements__link::before {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}


/* Section tour */

.section-tour__container {
    padding: 38px 45px 71px 40px;
    border-radius: var(--border-radius);
    background-color: var(--font-color-e9);
}

.section-tour__title {
    padding: 0 0 0 5px;
    margin: 0 0 19px 0;
}

.section-tour__form {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 28px;
    width: 100%;
    height: 100%;
    border-radius: var(--border-radius);
    background-color: var(--font-color-white);
}

.section-tour__item {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 0;
    margin: 0 20px 0 0;
    border-right: 1px solid var(--font-color-e1);
}

.section-tour__label {
    margin: 0 0 15px 0;
    font-size: 12px;
    color: var(--font-color-black);
}

.section-tour__label_select {
    padding: 0 0 0 5px;
}

.section-tour__select {
    width: 169px;
    border: none;
}

.section-tour__input {
    padding: 0;
    width: 121px;
    height: 25px;
    border-radius: 0;
    border-bottom: 1px solid #cccccc;
}

.section-tour__input_date {
    width: 135px;
    border: none;
}

.section-tour__button {
    padding: 13px 30px;
}


/* Section contacts */

.section-contacts__title {
    margin: 0 0 26px 0;
}

.section-contacts__container {
    padding: 44px 44px 46px 46px;
    border-radius: var(--border-radius);
    background-color: var(--font-color-white);
}

.section-contacts__info {
    margin: 0 50px 0 0;
    width: 50%;
    max-width: 375px;
    border-radius: var(--border-radius);
    background-color: var(--font-color-white);
}

.section-contacts__list {
    margin: 0 0 45px 0;
}

.section-contacts__item {
    display: flex;
    padding: 0 0 23px 0;
    margin: 0 0 25px 0;
    border-radius: 0;
    border-bottom: solid 1px #ccc;
}

.section-contacts__heading {
    margin-right: auto;
    font-size: 20px;
    font-weight: 700;
    color: var(--font-color-black);
}

.section-contacts__content {
    display: flex;
    flex-direction: column;
    width: 240px;
    text-align: left;
    font-style: normal;
    line-height: 150%;
    color: var(--font-color-black);
}

.section-contacts__link {
    line-height: 150%;
}

.section-contacts__mail-more {
    color: var(--font-color-light-dark);
}

.section-contacts__button {
    padding: 30px;
}

.section-contacts__image {
    width: 100%;
    max-width: 653px;
    height: 528px;
    background-image: url("../img/example/contacts-example.jpg");
}


/* Footer */

.footer__nav {
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: inherit;
    padding: 44px 51px 55px 52px;
    border-radius: var(--border-radius);
    background-color: var(--font-color-dark);
    background-image: url("../img/logo/logo-2.svg");
    background-size: 254px;
    background-position: bottom;
    background-position-x: 80%;
}

.footer__info {
    margin: 0 85px 0 0;
    width: 300px;
}

.footer__li {
    border-radius: 0;
    color: var(--font-color-white);
    line-height: 200%;
    background-color: transparent;
}

.footer__info-item {
    line-height: 190%;
}

.footer__info-item:not(:last-child) {
    margin: 0 0 35px 0;
}

.footer__contacts {
    width: 360px;
}

.footer__contacts-item:not(:last-child) {
    margin: 0 0 35px 0;
}

.footer__contacts-content {
    font-style: normal;
    line-height: 190%;
    color: var(--font-color-white);
}

.footer__contacts-links,
.footer__contacts-emails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__contacts-link {
    margin: 0 0 5px 0;
}

.footer__social {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 auto;
}

.footer__social-list {
    display: flex;
    flex-direction: column;
}

.footer__social-item {
    width: 25px;
    height: 25px;
    opacity: .5;
}

.footer__social-item:not(:last-child) {
    margin: 0 0 20px 0;
}

.footer-social-image-tripadvisor {
    background-image: url("../img/icon/social/tripadvisor.svg");
}

.footer-social-image-twitter {
    background-image: url("../img/icon/social/twiiter.svg");
}

.footer-social-image-facebook {
    background-image: url("../img/icon/social/facebook.svg");
}

.footer-social-image-vk {
    background-image: url("../img/icon/social/vk.svg");
}

.footer-social-image-google-plus {
    background-image: url("../img/icon/social/instagram.svg");
}